.add-button {
    position: fixed !important;
    bottom: 20px !important;
    right: 20px !important;
    border-radius: 50% !important;
    width: 50px !important;
    height: 50px !important;
}

.add-icon {
    width: 20px !important;
    height: 20px !important;
}
